html {
    margin: 0;
    margin-top: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 62.5% /* 1rem = 10px */
  }
  
  .main-git {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0 14rem;
    padding-top: 1.8rem;
    border-radius: 5px;
    row-gap: 1.6rem;
  }
  
  .home {
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    position: relative;
    min-height: 100vh;
  }
  .loading{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    color: white;
    display: grid;
    place-items: center;
    }
